<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
			<form>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-2">
						<input #movie type="text"
						       id="movie"
						       placeholder="Search by Movie Title">
						<button class="btn btn-primary"
						        (click)=movieSearch(movie.value)
						        type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row"
	     [hidden]="noResults">
			<div class="col-sm-3 col-md-2 movies"
			     *ngFor="let movie of moviesToShow">
				<div class="poster">
					<img src="https://image.tmdb.org/t/p/w150{{movie.poster_path}}"
					     class="img-responsive img-rounded"
					     alt="Responsive image">
				</div>
				<div><h4 class="movie-title">{{movie.original_title}}</h4></div>
			</div>
	</div>
	<!--Show alert if no movies are found-->
	<div class="row"
	     [hidden]="!noResults">
		<div class="alert">
	 		<alert>{{noShow}}</alert>
		</div>
	</div>
</div>
